*{
    padding:0;
    margin: 0;
}

.wrapper{
    position: relative;
    width: 100%;
    /* height: 100%; */
    /* border:1px solid black; */

}

.header{
    position: absolute;
    margin-top: 5px;
    width: 100%;
    height: 50px;
}

.header h4{
    text-align: center;
    font-weight: bolder;
}

.content {
    position: relative;
    top:80px;
    width: 80%;
    left: 50%;
    transform: translate(-50%,-0%);
    /* border:1px solid black; */
    /* border-top: 1px solid #ddd; */
}

.content .text{
    position: absolute;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 18px;
    height: 18px;
}
.content .text h4,h5{
    padding: 3px;
    line-height: 20px;
}
.content .text .text1,.text2,.text3,.text4,.text5,.text6{
    border: 2px solid #ddd;
    border-radius: 15px;
    margin-bottom: 2px;
}
.content .text .text1:hover,.text2:hover,.text3:hover,.text4:hover,.text5:hover,.text6:hover{
    background-color: #ccc;
    
    /* cursor: pointer; */
}

.content .text2 .gif1{
    margin-bottom: 10px;
}
.content .text2 .gif1 img{
    position: relative;
    border-radius: 10px;
    width: 250px;
    height: 450px;
    left:50%;
    margin-left: -125px;
}
.content  .text6 .gif2{
    left:50%;
    margin-bottom: 10px;
}
.content  .text6 .gif2 img{
    position: relative;
    left:50%;
    margin-bottom: 10px;
    transform: translate(-50%,0);
    border-radius: 10px;
}
